<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">To Do</a>
</nav>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-3 text-center">
      <form [formGroup]="form" (ngSubmit)="addTodo(form.value.todo)">
        <div class="form-group">
          <textarea class="form-control" rows="5" placeholder="What to do?" formControlName="todo"
                    required></textarea>
        </div>
        <input type="submit" class="btn add-todo" style="width: 100%" value="Add" [disabled]="!form.valid"
               [ngClass]="{ 'btn-danger': form.touched && !form.valid, 'btn-success': form.valid }">
      </form>
    </div>
    <div class="col-12 col-md-9">
      <div class="row">
        <div class="col-12 todo" *ngFor="let todo of todos">
          <app-todo [todo]="todo.todo" [id]="todo._id" [done]="todo.done? 'done' : ''"
                    (action)="onAction(todo._id, $event)"></app-todo>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="loading" *ngIf="loading"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></div>
